/*!
*
* Author:   Roland Edward Santos
* Email:    dev.weward@gmail.com
* Profile:  https://www.linkedin.com/in/roland-edward-santos/
*
*/

.bg-selection-container {
    display: flex;
    margin-top: 30px;
}

.bg-selection-box-container {
    display: block;
    padding: 2px;
    border: 1px solid #9E9E9E;
    border-radius: 5px;
}

.bg-selection-box-container-active {
    border: 1px solid #666666;
}

.bg-selection-box {
    height: 45px;
    width: 45px;
}


/**
 * =======================================
 *  Code Editor Background
 * =======================================
 */
.bg-code {
    margin-top: 30px;
    padding: 30px 30px 60px 30px;
    border-radius: 15px;
}

.bg-dark {
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(45deg, rgba(0, 0, 0, 1) 0%, rgba(93, 93, 93, 1) 50%, rgba(50, 60, 79, 1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 1) 0%, rgba(93, 93, 93, 1) 50%, rgba(50, 60, 79, 1) 100%);
    background: linear-gradient(45deg, rgba(0, 0, 0, 1) 0%, rgba(93, 93, 93, 1) 50%, rgba(50, 60, 79, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#323c4f", GradientType=1);
}

.bg-light {
    background: rgb(238, 174, 202);
    background: -moz-radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    background: -webkit-radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeaeca", endColorstr="#94bbe9", GradientType=1);
}

.bg-blue {
    background: rgb(64, 131, 249);
    background: -moz-radial-gradient(circle, rgba(64, 131, 249, 1) 0%, rgba(132, 167, 231, 1) 50%);
    background: -webkit-radial-gradient(circle, rgba(64, 131, 249, 1) 0%, rgba(132, 167, 231, 1) 50%);
    background: radial-gradient(circle, rgba(64, 131, 249, 1) 0%, rgba(132, 167, 231, 1) 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4083f9", endColorstr="#84a7e7", GradientType=1);
}

.bg-mango {
    background: rgb(34, 193, 195);
    background: -moz-linear-gradient(45deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    background: linear-gradient(45deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#22c1c3", endColorstr="#fdbb2d", GradientType=1);
}

.bg-blue-pink {
    background: rgb(63, 94, 251);
    background: -moz-radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    background: -webkit-radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3f5efb", endColorstr="#fc466b", GradientType=1);
}

.bg-sun {
    background: rgb(131, 58, 180);
    background: -moz-linear-gradient(45deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    background: linear-gradient(45deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#833ab4", endColorstr="#fcb045", GradientType=1);
}

.bg-coffee-dark {
    background: rgb(94, 68, 68);
        background: -moz-radial-gradient(circle, rgba(94, 68, 68, 1) 0%, rgba(71, 65, 65, 1) 79%, rgba(149, 108, 108, 1) 100%);
        background: -webkit-radial-gradient(circle, rgba(94, 68, 68, 1) 0%, rgba(71, 65, 65, 1) 79%, rgba(149, 108, 108, 1) 100%);
        background: radial-gradient(circle, rgba(94, 68, 68, 1) 0%, rgba(71, 65, 65, 1) 79%, rgba(149, 108, 108, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5e4444", endColorstr="#956c6c", GradientType=1);
}

.bg-coffee-light {
    background: rgb(154, 154, 154);
    background: -moz-linear-gradient(45deg, rgba(154, 154, 154, 1) 0%, rgba(150, 150, 150, 1) 21%, rgba(230, 224, 205, 1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(154, 154, 154, 1) 0%, rgba(150, 150, 150, 1) 21%, rgba(230, 224, 205, 1) 100%);
    background: linear-gradient(45deg, rgba(154, 154, 154, 1) 0%, rgba(150, 150, 150, 1) 21%, rgba(230, 224, 205, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9a9a9a", endColorstr="#e6e0cd", GradientType=1);
}