/*!
*
* Author:   Roland Edward Santos
* Email:    dev.weward@gmail.com
* Profile:  https://www.linkedin.com/in/roland-edward-santos/
*
*/

input,
select {
    padding: 10px;
    color: #4f4f4f !important;
    font-size: 16px;
    font-weight: 400;
}

.font-satisfy {
    font-family: 'Satisfy', cursive;
}

.font-pacifico {
    font-family: 'Pacifico', cursive;
}

.text-success {
    color: #009400;
}

.text-danger {
    color: #c90909;
}

.text-sm {
    font-size: .85rem;
}

.bold {
    font-weight: 600;
}

.block {
    display: block;
}

.flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.flex-row {
    flex-direction: row;
}
.align-self-center {
    align-self: center;
}

/*!
* ======================
*   ELEMENTS
* ======================
 */
.btn {
    padding: 10px 50px;
    margin: 5px;
}

.btn-sm {
    padding: 10px 20px;
}

.btn-block {
    padding: 5px 120px;
}

.btn-default {
    background: #ececec;
    color: #666;
}

.btn-default:hover {
    background: #999999;
    color: #fff;
}

.btn-danger {
    background: #dd2020;
}

/*!
* ======================
 *  ORIENTATION
 * ======================
 */

.text-center {
    text-align: center;
}
.align-center {
    text-align: center;
}
.align-right {
    text-align: right;
}

/*!
* ======================
 *  SPACING 
 * ======================
 */

.margin-top {
    margin-top: 30px;
}

.margin-bottom {
    margin-bottom: 30px;
}

.mb-0 {
    margin-bottom: 0px;
}

.ml-15 {
    margin-left: 15px;
}

.mr-15 {
    margin-right: 15px;
}

/*!
 * ======================
 *  REAL-ESTATE
 * ======================
 */
.width-1-1 {
    width: 100%;
    max-width: 100%;
}
.child-width-1-2 > div {
    width: 50%;
    max-width: 50%;
    display: inline-block;
}

/*!
 * ======================
 *  CUSTOM 
 * ======================
 */

.tabbed {
    tab-size: 4;
}
.app-title {
    color: #262626;
}
.app-sub-title {
    font-size: 20px;
    color: #f44079;
}

/*
 * ======================
 *  Code Form 
 * ======================
 */

.styling-container {
    display: flex;
}

.form-control {
    width: 100%;
    margin-bottom: 15px;
}

.form-input {
    width: 100%;
}
