/*!
*
* Author:   Roland Edward Santos
* Email:    dev.weward@gmail.com
* Profile:  https://www.linkedin.com/in/roland-edward-santos/
*
*/

input,
select {
    padding: 10px;
    color: #525252 !important;
}

.block {
    display: block;
}

/*!
* ======================
*   ELEMENTS
* ======================
 */
.btn {
    padding: 10px 50px;
    margin: 5px;
}

.btn-sm {
    padding: 10px 20px;
}

.btn-block {
    padding: 5px 120px;
}

.btn-default {
    background: #ececec;
    color: #666;
}

.btn-danger {
    background: #dd2020;
}

/*!
* ======================
 *  ORIENTATION
 * ======================
 */

.align-center {
    text-align: center;
}
.align-right {
    text-align: right;
}

/*!
* ======================
 *  SPACING 
 * ======================
 */

.margin-top {
    margin-top: 30px;
}

.margin-bottom {
    margin-bottom: 30px;
}

.ml-15 {
    margin-left: 15px;
}

.mr-15 {
    margin-right: 15px;
}

/*!
 * ======================
 *  REAL-ESTATE
 * ======================
 */
.width-1-1 {
    width: 100%;
    max-width: 100%;
}
.child-width-1-2 > div {
    width: 50%;
    max-width: 50%;
    display: inline-block;
}

/*!
 * ======================
 *  CUSTOM 
 * ======================
 */

.tabbed {
    tab-size: 4;
}

/*
 * ======================
 *  Code Form 
 * ======================
 */

.styling-container {
    display: flex;
}

.form-control {
    width: 100%;
    margin-bottom: 15px;
}

.form-input {
    width: 100%;
}
